<app-header [title]="title"></app-header>

<ion-content padding>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum esse consequatur iure! Optio nobis doloremque nam reiciendis praesentium soluta corporis quis dolore accusantium doloribus, neque et non vel sit commodi.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="dark">
      <ion-icon slot="start" color="light" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, voluptate facere. Ducimus est delectus eum quasi soluta architecto fuga, culpa officiis, itaque vero ab ut adipisci iusto eveniet placeat voluptatibus.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam obcaecati illum iusto molestias placeat! Tempore sequi saepe doloribus id quibusdam reprehenderit obcaecati impedit ea accusamus. Distinctio maiores nisi nostrum aperiam.</ion-card-content>
  </ion-card>
</ion-content>
